/* COLORS - GLOBAL VARIABLES */
:root {
  --primary-color: #49cae4;
  --secondary-color: #0096c7;
  --accent-color: #ade8f4;

  --background-color: #222;

  --headings-color: #f8f9fa;
  --body-color: #adb5bd;
  --border-color: #adb5bd;
}

*,
**before,
**after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  /* 62.5% of 16px = 10px  */
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--body-color);
  background-color: var(--background-color);
  margin: 2rem;
  margin-top: 8rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headings-color);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2.8rem;
  font-weight: 500;
}

h5 {
  font-size: 2.6rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.heading--primary {
  color: var(--primary-color);
}

.heading--secondary {
  color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
    margin-top: 6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2rem;
  }
}

/* LINKS */

a {
  color: var(--body-color);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

a:hover,
a:focus {
  color: white;
}

/* BADGES */

.badge {
  border: 2px solid var(--primary-color);
  background-color: #111;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: white;
}

.badge--primary {
  border-color: var(--primary-color);
}

.badge--secondary {
  border-color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
}

/* LISTS */

.list {
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin: 0 1rem;
}

/* ICONS */

.icon {
  margin: 0.5rem;
  height: 50px;
  width: 50px;
  fill: white;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon--secondary {
  fill: var(--secondary-color);
}

/* BUTTONS */

.btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 0;
  outline: none;
  color: white;
  padding: 1rem 4rem;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 9999px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
}

.btn--accent {
  background-color: var(--accent-color);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: hsl(190, 74%, 59%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: hsl(195, 100%, 39%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}
.btn--accent:hover,
.btn--accent:focus {
  background-color: hsl(190, 76%, 82%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}

/* GRIDS */

.grid {
  --grid-gap: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--grid-gap) * 1rem);
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* NAVIGATION BAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  width: 100%;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.navbar__item {
  text-align: center;
  margin: 0;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .navbar__list {
    flex-direction: row;
    align-items: center;
  }

  .navbar__item {
    margin: 0;
    text-align: center;
  }
}

/* ABOUT */
.about-content {
  margin: 0 auto;
}

.about-heading {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 0;
}

.about-grid {
  grid-template-columns: 1fr;
}

.about-image {
  max-height: 500px;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  margin: 0 auto;
  align-self: center;
  transition: transform 200ms ease-in-out;
  animation: 1s normal fade-in;
}

.about-image:hover,
.about-image:focus {
  transform: scale(1.05);
}

.about-badges {
  margin: 3rem 0;
  text-align: center;
}

.about-badge {
  display: inline-block;
  margin: 0.5rem 0;
}

.about-list-item {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .about-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* CARDS */

.card {
  height: auto;
  padding: 2rem;
  box-shadow: -10px -10px 25px 10px #111;
  border-radius: 5px;
  transition: transform 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* PROJECTS */

.projects-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.project-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}

.project-content {
  grid-column: 1 / -1;
  width: 100%;
}

.project-image {
  max-height: 500px;
  width: 100%;
  margin: auto;
  margin-top: 0;
  border-radius: 1rem;
  grid-column: 2;
  transition: transform 200ms ease-in-out;
}

.project-image:hover,
.project-image:focus {
  transform: scale(1.05);
}

.project-category-primary {
  color: var(--primary-color);
}

.project-category {
  margin-top: 1rem;
}

.project-title {
  margin: 1.5rem 0;
}

.project-involvement {
  margin-top: 0;
  color: var(--accent-color);
}

@media screen and (min-width: 1024px) {
  .project-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .project-content {
    margin-top: 0;
    margin-left: 2rem;
  }

  .project-group {
    flex-direction: row;
  }
}

/* BLOCKS */

.block {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 4rem;
  height: 100%;
}

.block:first-of-type {
  height: auto;
  margin-bottom: 0;
}

.block:last-of-type {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .block {
    margin-bottom: 6rem;
  }
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
