/* Colors - Global Variables  */
:root {
  --primary-color: #48cae4;
  --secondary-color: #0096c7;
  --accent-color: #ade8f4;
  --headings-color: #f8f9fa;
  /* --body-color: #dee2e6; */
  --body-color: #adb5bd;
  --border-color: #adb5bd;
}

*,
**before,
**after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  /* 62.5% of 16px = 10px  */
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--body-color);
  background-color: #222;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headings-color);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2.8rem;
  font-weight: 500;
}

h5 {
  font-size: 2.6rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.heading--primary {
  color: var(--primary-color);
}

.heading--secondary {
  color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2rem;
  }
}
