/* COLORS - GLOBAL VARIABLES */
:root {
  --primary-color: #49cae4;
  --secondary-color: #0096c7;
  --accent-color: #ade8f4;

  --background-color: #222;

  --headings-color: #f8f9fa;
  --body-color: #adb5bd;
  --border-color: #adb5bd;
}

*,
**before,
**after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  /* 62.5% of 16px = 10px  */
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--body-color);
  background-color: var(--background-color);
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headings-color);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2.8rem;
  font-weight: 500;
}

h5 {
  font-size: 2.6rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.heading--primary {
  color: var(--primary-color);
}

.heading--secondary {
  color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
    margin: 1rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2rem;
  }
}

/* LINKS */

a {
  color: var(--body-color);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

a:hover,
a:focus {
  color: white;
}

/* BADGES */

.badge {
  border: 2px solid var(--primary-color);
  background-color: #111;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: white;
}

.badge--primary {
  border-color: var(--primary-color);
}

.badge--secondary {
  border-color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
}

/* LISTS */

.list {
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list__item.list--tick::before {
  content: "✓";
  padding-right: 1rem;
  padding-left: 0.5rem;
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  .list__item.list--tick::before {
    padding-left: 0;
  }
}

/* ICONS */

.icon {
  margin: 0.5rem;
  height: 50px;
  width: 50px;
  fill: white;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon--secondary {
  fill: var(--secondary-color);
}

/* BUTTONS */

.btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 0;
  outline: none;
  color: white;
  padding: 1rem 4rem;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 9999px;
  transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
}

.btn--accent {
  background-color: var(--accent-color);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: hsl(190, 74%, 59%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: hsl(195, 100%, 39%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}
.btn--accent:hover,
.btn--accent:focus {
  background-color: hsl(190, 76%, 82%, 0.8);
  color: hsl(0, 0%, 100%, 0.8);
}

/* INPUTS */

.input-group {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.textarea {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 1rem 2rem;
  margin: 0.75rem 0.25rem;
  border: 1px solid #999;
  border: 0;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px 0 #999;
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  width: 100%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset, 0 0 5px 0 #999;
  -webkit-text-fill-color: white;
}

.textarea {
  resize: none;
}

.input-group .btn {
  margin: 0;
  margin-top: 2rem;
  width: 100%;
}

/* SLIDERS */

.slider-container {
  padding: 0.5rem;
}

.slider-info {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
  pointer-events: none;
}

.slider--primary {
  accent-color: var(--primary-color);
}

.slider:focus,
.slider:hover {
  pointer-events: none;
}

.slider[type="range"]::-webkit-slider-thumb {
  opacity: 0;
}

.slider[type="range"]::-moz-range-thumb {
  opacity: 0;
}

.slider[type="range"]::-ms-thumb {
  opacity: 0;
}

/* SPINNERS */

.ring {
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  /* border: 1px solid red; */
}

.ring-percentage {
  --size: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--background-color);
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 50%;
  border-top: calc(var(--size) * 0.075px) solid var(--secondary-color);
  border-bottom: calc(var(--size) * 0.075px) solid var(--secondary-color);
  border-left: calc(var(--size) * 0.075px) solid var(--accent-color);
  border-right: calc(var(--size) * 0.075px) solid var(--accent-color);
}

.ring-label {
  margin: 0;
  text-align: center;
}

/* GRIDS */

.grid {
  --grid-gap: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--grid-gap) * 1rem);
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-btn {
  padding: 0.75rem 3rem;
  border-radius: 5px;
}

.navbar-btn:hover,
.navbar-btn:focus {
  background-color: var(--secondary-color);
  color: white;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.navbar__item {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #777;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.navbar__toggler {
  cursor: pointer;
  border: 1px solid #777;
  border-radius: 5px;
  transition: box-shadow 200ms ease-in-out;
}

.navbar__toggler:hover,
.navbar__toggler:focus {
  box-shadow: 0 0 10px 0 grey;
}

@media screen and (min-width: 768px) {
  .navbar__toggler {
    display: none;
  }
  .navbar > .list {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .navbar__item {
    border: none;
    margin: 0;
  }
}

/* COLLAPSIBLES */
.collapsible__content {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}

/* HERO */
.hero-content {
  margin: 2rem auto;
}

.hero-btn {
  border-bottom-left-radius: 0;
  pointer-events: none;
}

.hero-image {
  border-radius: 50%;
  margin: 0 auto;
  align-self: center;
}

.hero-name,
.hero-title {
  margin-top: 1rem;
}

.hero-email-wrapper,
.hero-phone-wrapper {
  display: flex;
  align-items: center;
}

.hero-email,
.hero-phone {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .hero-grid .hero-content {
    order: -1;
  }

  .hero-content {
    margin: 0;
    /* margin-left: 1rem; */
  }
}

/* ABOUT */

.about-image {
  --size: 400;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  margin: auto;
}

.about-content {
  margin: 0 auto;
}

.about-badges {
  margin: 3rem 0;
}

.about-badge {
  display: inline-block;
  margin: 0.5rem 0;
}

/* CARDS */

.card {
  height: auto;
  padding: 2rem;
  box-shadow: -10px -10px 25px 10px #111;
  border-radius: 5px;
}

/* FIELDS */

.fields-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.field-card {
  margin: 0 auto;
  max-width: 300px;
}

.field-icon {
  margin: 0;
}

.field-title {
  margin: 1.5rem 0;
}

.field-description {
  margin-bottom: 0;
}

/* PROJECTS */

.projects-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.project-container {
  /* display: flex;
  justify-content: space-between; */
  display: inline;
}

.project-grid {
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr max-content;
  height: max-content;
}

.project-content {
  grid-column: 1 / -1;
}

.project-arrow {
  margin: auto 0;
  font-size: 3.5rem;
  grid-row: 1;
  cursor: pointer;
}

.previous-arrow {
  grid-column: 1;
  margin-right: 2rem;
}

.next-arrow {
  grid-column: 3;
  margin-left: 2rem;
}

.project-image {
  max-height: 500px;
  width: 100%;
  margin: auto;
  margin-top: 0;
  grid-column: 2;
}

.project-category-primary {
  color: var(--primary-color);
}

.project-category {
  margin-top: 1rem;
}

.project-title {
  margin: 1.5rem 0;
}

.project-involvement {
  margin-top: 0;
  color: var(--accent-color);
}

@media screen and (min-width: 1024px) {
  .project-grid {
    grid-template-columns: max-content 1fr 1fr max-content;
    grid-template-rows: max-content;
  }

  .project-content {
    margin-top: 0;
    margin-left: 2rem;
    grid-column: 3;
  }

  .next-arrow {
    grid-column: -1;
  }
}

/* SKILLS */

.skills-grid {
  display: grid;
  grid-gap: 0;
  grid-template-rows: max-content 1fr;
}

.skills-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.skills-quadrant {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

/* EXPERIENCES */

.experience {
  margin: 1rem;
}

.experience-grid {
  grid-template-rows: max-content 1fr;
  grid-gap: 0;
}

.experience-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.experience-content-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.experience-year {
  margin: 1rem 0;
}

.expereince description {
  margin-bottom: 0;
}

/* CALLOUT */

.callout-btn {
  font-size: 2.4rem;
  margin: 2rem 0;
}

/* CONTACT */

.contact-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-grid {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 2rem;
}

.contact-card {
  margin-bottom: 3rem;
  /* width: 100%;  */
}

.contact-title {
  margin: 0;
}

.contact-description {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.6rem;
}

/* BLOCKS */

.block {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.block:first-of-type {
  margin-top: 1rem;
}

.block:last-of-type {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .block {
    margin-bottom: 6rem;
  }
}
